.label {
  display: block;
  padding: 8px;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.percentage {
  padding: 8px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(240, 240, 240);
}

.statistics {
  display: block;
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(218, 228, 234);
  border-radius: 7px;
  width: 300px;
  height: 150px;
}

.statList {
  display: flex;
  text-align: center;
  padding: 0px;
  margin: 89px auto 0px auto;
}

.item {
  display: flex;
  text-align: center;
  padding: 0px;
  margin: 0 0 0;
  border: 1px solid rgb(218, 228, 234);
  background-color: rgb(242, 250, 255);
  border-right: none;
  width: 100px;
  height: 60px;
}
